extends layout

mixin multiscripts
    // Phaser dependencies
    link(type='text/javascript' src="/javascripts/phaser.min.js")
    script(type='text/javascript' src="/javascripts/boot.js")
    script(type='text/javascript' src="/javascripts/load.js")
    script(type='text/javascript' src="/javascripts/game.js")
    // End of Phaser dependencies

    // Bootstrap
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    // JQuery
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    // End of bootstrap dependencies

    // AngularJS
    script(src="/js/angular.js")
    // End of AngularJS

    //Ignite stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    //Retrieves player data
    script(type='text/javascript' src='/javascripts/playerData.js')

mixin header
    nav
        div.container
            div.row
                ul(class='nav nav-pills pull-right')
                        +nav-bullet('home','/')
                        if user
                            +nav-bullet('logout','/accounts/logout')
                            +nav-bullet('account','/accounts')
                        else
                            +nav-bullet('login','/accounts/login')
                            +nav-bullet('sign up','/accounts/register')
                h1
                    a(href='http://35.164.0.62:3000/')#nav-title Ignite
            div.row
                p#nav-message #{message}

mixin nav-bullet(item, link, active)
    if(active)
        li(role='active')
            a(href= link)= item
    else
        li(role='presentation')
            a(href= link)= item

mixin title(name)
    h2.page-header= name

mixin form(feilds, action)
    form(method='post' action= action)
        each field in feilds
            +input(field)
        +input('submit','button')

mixin input(name, type)
    div.form-group
        case type
            when 'button'
                div.col-xs-12.center
                    button(id='submit_login', type='submit', class='btn btn-sm')= name
            default
                div.col-xs-12
                    label= name
                div.col-xs-12
                    input(type='text' class='form-control' placeholder= name, name= name)
block errors
    if errors
        div(class='alert alert-danger')
            each error in errors
                p= error.msg